@import './base.css';

.slide {
  background: red;
  aspect-ratio: 0.56;
  border-radius: .5em;
  padding: .5em 1em;
  position: absolute;
  overflow: hidden;
  width:100%;
}

.omnomcom {
  color: rgb(50, 50, 255);
  text-shadow: blue -.1em -.1em .2em, blue -.1em .1em .2em, blue .1em -.1em .2em, blue .1em .1em .2em;
}

body, html {
  font-size: min(3vw, calc(3svh * 0.56)) !important;
  background: black;
  padding: 0;
  margin: 0;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}
