@import './base.css';

.slide {
  background: red;
  aspect-ratio: 0.56;
  border-radius: .5em;
  padding: .5em 1em;
  width: min(calc(87vw), calc(calc(80vh) * 0.56));
  position: absolute;
  overflow: hidden;
}

.omnomcom {
  color: rgb(50, 50, 255);
  text-shadow: blue -.1em -.1em .2em, blue -.1em .1em .2em, blue .1em -.1em .2em, blue .1em .1em .2em;
}

body, html {
  font-size: min(calc(3vw), calc(calc(3vh) * 0.56)) !important;
  background: black;
  padding: 0;
  margin: 0;
}
